In [ ]:
%pip install -r requirements.txt

In [1]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

True

In [2]:
db_user =  os.getenv("db_user")
db_password =  os.getenv("db_password")
db_host =  os.getenv("db_host")
db_port =  os.getenv("db_port")
db_name =  os.getenv("db_name")

In [3]:
from langchain.utilities import SQLDatabase

db = SQLDatabase.from_uri(
    f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}",
    sample_rows_in_table_info=3
)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	Black	M	45	22
2	Van Huesen	Red	XL	25	24
3	Nike	Red	S	47	92
*/

In [19]:
from langchain_ollama import OllamaLLM

# ✅ Use local Mistral model via Ollama
llm = Ollama(model="mistral", temperature=0.2)

response = llm.invoke("What is the capital of India?")
print(response)

 The capital of India is New Delhi. It serves as the center of the executive, legislative, and judicial branches of the Indian government. However, it's important to note that New Delhi is not a state or union territory but a city administered directly by the central government.

In [20]:
# Not using SQLDatabaseChain as it is not efficient
from langchain_experimental.sql import SQLDatabaseChain

# Setup Sequential SQL Chain
db_chain = SQLDatabaseChain.from_llm(
    llm=llm,                       # The language model instance (here Google Gemini) used to generate SQL queries from natural language.
    db=db,                         # The SQLDatabase object representing the connected database; used to run queries.
    verbose=True,                  # Enables detailed logging of the chain’s internal steps for debugging and transparency.
    return_intermediate_steps=False,  # Returns the intermediate steps (like generated SQL query) along with the final answer.
    use_query_checker=False,        # Activates a query validation step to check and correct SQL before execution, reducing errors.
    return_direct=False             # Returns only the final query result directly, skipping extra text explanation (if supported).
)

In [21]:
q1 = "How many tshirts do we have left for Nike in extra small size and white colour?"
response = db_chain.invoke(q1)
print(response)
print("\n\n\nFinal Answer:", response.get('result'))

> Entering new SQLDatabaseChain chain...
How many tshirts do we have left for Nike in extra small size and white colour?
SQLQuery:SELECT `stock_quantity` FROM `t_shirts` WHERE `brand` = 'Nike' AND `size` = 'XS' AND `color` = 'White';
SQLResult: [(93,)]
Answer:93 t-shirts for Nike in extra small size and white color are left.
> Finished chain.
{'query': 'How many tshirts do we have left for Nike in extra small size and white colour?', 'result': '93 t-shirts for Nike in extra small size and white color are left.'}



Final Answer: 93 t-shirts for Nike in extra small size and white color are left.